<script>
    const playlists = <%- JSON.stringify(playlists) %>;
</script>
<% playlists.forEach(function(playlist){ %>
    <div class="playlist-container">
        <%- include('playlist', {playlist: playlist}) %>
    </div>
<% }); %>
