<!DOCTYPE html>
<html>
<head>
    <!-- JQUERY -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <title>Candidate Application Workshop</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" href="favicon.ico?v=1" type="image/x-icon"/>
</head>
<body>

<div class="connect-challenges__header">
    <div class="connect-challenges__header--inner">
        <img src="images/logo.png" class="logo">
    </div>
</div>
<div class="connect-challenges__main">
