<% include partials/header %>
<link rel='stylesheet' href='/stylesheets/gallery.css'/>

<div class="gallery-container">
    <%- include('gallery/playlists.ejs', {playlists: playlists}) %>
</div>

<% include partials/footer %>

