#playlists-container {
    color: white !important;
    background: rgba(255, 255, 255, 0.2);
    padding: 32px;
    border-radius: 5px;

}

.app-body {
  display: flex;
  flex-direction: column;
}

.paginate_button,
.dataTables_info,
.dataTables_wrapper .dataTables_length,
#myTable_filter,
.paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button,
#myTable_wrapper {
    color: white !important;
}
#myTable_wrapper tbody{
    color: rebeccapurple !important;

}


.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #888 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #585858;
    border: none;
    background: none !important;
}
.dataTables_wrapper tr.highlight {
    background-color: whitesmoke !important;
}
.dataTables_wrapper td {
    cursor: default;
}
